.body{
    padding: 0%;
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
    


}

.topoHeader{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    
}

.Home{
    display: flex;
    justify-content: space-between;
}

.pesquisar{
    width: 559px;
    height: 60px;
    top: 34px;

}