body{
    padding:0 ;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-image: url("bg.jpg");
    background-size: cover;
    padding: 20px;
}

h1{
    color: white;
    text-align: center;
}
.topo{
    display: flex;
    justify-content: space-between;

            
    
}
.search{
    display: flex;
    justify-content: center;
    
}
.search a{
    color: white;
}


.icones{
    display: flex;
    justify-content: center;
    
}
h2{
    margin: 30px;
}
    


    




