
.topoHeader{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 1440px;
    
}

.home{
    display: flex;
    justify-content: space-between;
    height: 23px;;
}

.pesquisar{
    width: 559px;
    height: 60px;
    top: 94px;

}

.logo{
    width: 253px;
height: 44px;
top: 42px;
left: 104px;
gap: 0px;
opacity: 0px;

}

#home{
    color:black;
    background-color:white;
}